* {
  box-sizing: border-box;
}

.App {
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 20px;
}

.App-link {
  color: #61dafb;
}

h2, h3, p {
  margin: 0;
  padding: 0;
}
.instructions {
  text-align: center;
  color: #61dafb;
}

.instruction__steps {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.mb-3 {
  width: 500px;
}